@charset "UTF-8";

body {
  font-family: 'Lato'
}

.is_raleway {
  font-family: 'Raleway';
}

a {
  text-decoration: none;
  display: inline-block;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.inner {
  max-width: 1100px; 
  margin: 0 auto;

}

.header {
  padding: 15px 0;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
}

.header_inner {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.bolt {
  color: #333;
}

.btn {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: all 0.3s;
  
}

.btn:hover {
  color: #333;
}

.humberger {
  display: none;
}

.main {
  margin-top: 70px;
}

.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.theme_inner {
  text-align: center;
}

.theme_title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme_nav {
  font-size: 30px;
  margin-top: 20px;
  color: #c0c0c0;
}

.about {
  background-color: #74cfae;
  padding-top: 50px;
}

.about_inner {
  display: flex;
  justify-content: space-around;
}

.right_text {
  color: #fff;
  vertical-align: top;
  text-align: center;

}

.right_text_top {
  font-size: 24px;
}

.right_text_bot {
  font-size: 20px;
  margin-top: 35px;

}

.works {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}

.works_title {
  font-size: 24px;
  text-align: center;
}

.works_items {
  margin-top: 40px;
  font-size: 0;
}

.works_item {
  transition: all 0.3s;
  display: inline-block;
}

.works_item a {
  opacity: 0.7;
  transition: 0.3s;
}

.works_item a:hover {
  opacity: 1.0;
}

.mail {
  margin-top: 90px;
  text-align: center;
}

.mail_text  {
  display: inline-block;
  font-size: 20px;
}

.mail_btn {
  display: inline-block;
  margin-left: 90px;
  vertical-align: top;
}

.skills {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.skills_inner {
  text-align: center;
}

.skills_title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 70px;
}

.skills_items {
  margin: 0 auto;
}

.skills_item {
  display: inline-block;
  margin-left: 180px;

}

.skills_item:first-child {
  margin-left: 0;
}

.item_text {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.links {
  background-color: #f2f2f2;
  padding: 200px 0; 
}

.links_items {
  text-align: center;
  display: flex;
  justify-content: center;
}

.icon {
  width: 185px;
  color: #74cfae;
  transition: all 0.3s;
  padding: 10px 0;
}

.icon:hover {
  background-color: #fff;
  cursor: pointer;
}

.footer {
  background-color: #74cfae;
}

.footer_inner {
  padding: 20px 0px 25px 0;
  color: #fff;
  text-align: right;
}

.footer_text {
  float: right;
}

/* ~766px：SP
------------------------------ */
@media screen and (max-width:766px) {
  .inner {
    max-width: 97%;
  }

  .contact_btn {
    display: none;
  }

  .humberger {
    display: block;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }

  .berger_border {
    height: 3px;/*線の太さ*/
    width: 30px;/*長さ*/
    background: #ddd;
    content: '';
    display: block;
    margin-bottom: 3px;
  }

  .berger_border:last-child {
    margin-bottom: 0;
  }
    
  .theme {
    padding: 160px 0 130px;
  }

  .theme_title {
    font-size: 80px;
  }
  
  .about {
    padding-bottom: 25px;
  }

  .about_inner {
    display: block;
    text-align: center;
  }   

  .right_text {
    margin-top: 20px;
  }


  .works_items {
    text-align: center;
  }

  .works_item {
    display: block;
  }

  .works_item:nth-child(3n+1) {
    margin-top: 80px;
  } 

  .works_item:first-child {
    margin-top: 0;
  }

  .mail {
    margin-top: 80px;
    text-align: center;
  }

  .mail_text  {
    display:  block;
    font-size: 20px;
    margin: 0 auto;
  }

  .mail_btn {
    margin: 40px auto 0;
  }


  .skills_title {
    margin-bottom: 40px;
  }

  .skills_item {
    display: block;
    margin-top: 80px;
    margin-left: 0;
  }

  .skills_item:first-child {
    margin-top: 0;
  }

  .links {
    padding: 50px 15px;
  }

  .links_items{
    flex-flow: column nowrap;
    align-items: center;
    
  }

  .icon {
    width: 100%;
  }
}
  
/* 767px〜1199px：タブレット
------------------------------ */
@media screen and (min-width:767px) and (max-width: 1199px) {
  
  
  .inner {
    max-width: 97%;
  }

  .about {
    padding-bottom: 25px;
  }

  .about_inner {
    display: block;
    text-align: center;
  }

  .right_text {
    margin: 20px auto 0;
  }

  .works_items {
    text-align: center;
  }

  .works_item {
    display: block;
    margin: 0 auto;
  }

  .works_item:nth-child(3n+1) {
    margin-top: 80px;
  } 

  .works_item:first-child {
    margin-top: 0;
  }
  
  .mail {
    margin-top: 80px;
    text-align: center;
  }

  .mail_text  {
    display:  block;
    font-size: 20px;
    margin: 0 auto;
  }

  .mail_btn {
    margin: 40px auto 0;
  }

  .skills_title {
    margin-bottom: 40px;
  }

  .skills_item {
    display: block;
    margin-top: 80px;
    margin-left: 0;
  }

  .skills_item:first-child {
    margin-top: 0;
  }

}
  
/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1200px) {
  
  .mail_text {
    width: 600px;
  }

  .right_text {
    margin-left: 100px;
  }
  .works_item {
    margin-left: 100px; 
  }

  .works_item:nth-child(3n+1) {
    margin-left: 0;
  } 
  
  .works_item:nth-child(n+4){
    margin-top: 80px;
  }

  .mail_text  {
    margin-left: 50px;
  }
}

